<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>Dose: <%= dose.description %> <%= dose.ingredient.name %></li>
    <%= link_to "Delete a dose", dose_path(dose), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add", class: "btn btn-success" %>
<% end %>

<br>


<br>

<%= link_to "Back to main menu", cocktails_path, class: "btn btn-primary" %>
